body{
  background-color:#E0E7F8;;
  font-size:11pt;
  font-family: 宋体;
  margin:0px 0px 0px 0px;  /*top right bottom left*/
  padding:0px 0px 0px 0px;
  scrollbar-face-color: #DEE3E7;
  scrollbar-highlight-color: #FFFFFF;
  scrollbar-shadow-color: #DEE3E7;
  scrollbar-3dlight-color: #D1D7DC;
  scrollbar-arrow-color:  #006699;
  scrollbar-track-color: #EFEFEF;
  scrollbar-darkshadow-color: #98AAB1;
}
td{
  font-size:11pt;
  color:black;
/*  text-align:left;*/
/*  vertical-align:top;*/
}
A{
 font-size:11pt;
}
a {
	text-decoration: none;
}

a:link {
	color: #000;
}

a:visited {
	color: #039;
}

a:active {
	color: #069;
}
input{
  font-size:11pt;
}
select{
  font-size:11pt;
}
.subBody{
  margin:3px 5px 0px 5px;
}
.Default_menuFrame{  /*对应MenuAndButtonbar.css里的menu1_tr和menu2_tr*/
  width:100%;
  height:82px;
}
.Default_menu1Frame{  /*对应MenuAndButtonbar.css里的menu1_tr*/
  width:100%;
  height:52px;
}
.Default_menu2Frame{  /*对应MenuAndButtonbar.css里的menu2_tr*/
  width:100%;
  height:30px;
}
.Default_searchFrame{  /*对应searchTable*/
  width:100%;
  height:450px;
}
.Default_listFrame{   /*对应QueryList.css里的listUtil*/
  width:100%;
  height:355px;
}
.Default_contentTr{
  background-color:#e6f1c6;
}
.Default_contentTd{
  padding:6px;
  border-right:1px #9c9c9c solid;
  border-left:1px #9c9c9c solid;
}
.Default_frameTr{
  height:9px;
}

.Default_frame_outBorder{
  width:100%;
  border-right:1px #d4d4d4 solid;
  border-left:1px #d4d4d4 solid;
}
.Default_frame_inBorder{
  width:100%;
  padding:0px 5px 5px 5px;
  border-right:2px #e4e2dc solid;
  border-left:2px #e4e2dc solid;
  background-color:#ffffff;
}

.searchUtil_input{
  width:120px;
  height:22px;
  border:1px #859bb5 solid;
}
.searchUtil_select{
  width:120px;
  height:22px;
}
.search_word
{
  text-align:right;
  padding-right:2px;
  padding-top:2px;
  padding-bottom:1px;
}
/*.searchUtil_btnOut{
  position:relative;
  top:0px;
  width:60px;
  border:1px #939EB2 solid;
}
.searchUtil_btnIn{
  width:100%;
  height:18px;
  padding-top:3px;
  border-right:1px #ffffff solid;
  border-bottom:1px #ffffff solid;
  text-align:center;
  background-color:white;
  background-image:url('/office/Images/Btn_united_bg.gif');
  cursor:hand;
}*/

.Btn_common{
	width:60px;
	height:20px;
	padding-top:4px;
	padding-left: 0px;
	border:1px #939EB2 solid;
	text-align:center;
	background-image:url('../Images/Btn_united_bg.gif');
	cursor:hand;
}
/* 定义LeftFrm.jsp页的背景颜色  */
.LeftFrmBg
{
  background-color:#A8BCCF;
}
/* 树节点  */
.TreeNode
{
    width:100%;
    background-color:#A8BCCF;
    COLOR: blue;
}
.TreeNodeSelected
{
    FONT-WEIGHT: bolder;
    COLOR: yellow;
    width:100%;
    background-color:#A8BCCF;
}
.SelectUser_Tree
{
  position:relative;
  width:240px;
  height:330px;
  top:0px;
  left:0px;
  border-top:2px solid #333366;
  border-bottom:1px solid #eeeeee;
  border-left:2px solid #333366;
  border-right:1px solid  #eeeeee;
  background-color: #FFFFFF;
  overflow:auto;
}

.SelectMultiUser_Tree
{
  position:relative;
  width:180px;
  height:180px;
  top:0px;
  left:0px;
  border-top:2px solid #333366;
  border-bottom:1px solid #eeeeee;
  border-left:2px solid #333366;
  border-right:1px solid  #eeeeee;
  background-color: #FFFFFF;
  overflow:auto;
}

/*开始有TAB页面*/
.Out_border_withTab
{
	border-top: 0px solid #ffffff;
	border-left: 1px solid #fffffff;
	border-right: 2px ridge #95A8D7;
	border-bottom: 2px ridge #95A8D7;
	background-color:#E0E7F8;
	padding-top:6px;
	padding-left:8px;
	padding-bottom:6px;
	padding-right:8px;
	vertical-align:top;
}
.Tab_chosen
{
        background-color:#E0E7F8;
        text-align:center;
        vetical-align:bottom;
        padding-top:4px;
        border-top: 2px solid #FFFFFF;
        border-left:1px solid #ffffff;
        border-right:2px inset #87888D;
        cursor:hand;
        width:130px;
        height:25px;
        font-size:11pt;

}
.Tab_normal
{
        background-color:#93A9DF;
        text-align:center;
        vetical-align:bottom;
        padding-top:4px;
        border-top: 2px solid #E0E7F8;
        border-left:1px solid E0E7F8;
        border-right: 2px inset #6F7EA0;
        cursor:hand;
        width:130px;
        height:22px;
  	font-size:11pt;
}
.Tab_normal_word
{
        color:#ffffff;
  	font-size:11pt;
}
A.Tab_normal_word:link
{
        color:#ffffff;
        text-decoration:none;
  	font-size:11pt;
}
.Tab_chosen_word
{
        color:#0B2C58;
  	font-size:11pt;
}
A.Tab_chosen_word:link
{
  	font-size:11pt;
        color:#0B2C58;
        text-decoration:none;
}
.selected_block_input
{
	border-right:0px #B2AFAF solid;
 	border-left:0px #B2AFAF solid;
	border-top:0px #B2AFAF solid;
 	border-bottom:1px #B2AFAF solid;
	background-color:#FFFFFF;
}
.selected_color_input
{
	border-right:0px #B2AFAF solid;
 	border-left:0px #B2AFAF solid;
	border-top:0px #B2AFAF solid;
 	border-bottom:1px #B2AFAF solid;
	background-color:#fef8dd;
}
.Out_border
{
        border-top: 1px solid #ffffff;
        border-left: 1px solid #fffffff;
        border-right: 2px ridge #95A8D7;
        border-bottom: 2px ridge #95A8D7;
        background-color:#E0E7F8;
        padding-top:6px;
        padding-left:8px;
        padding-bottom:6px;
        padding-right:8px;
        vertical-align:top;
}
.Out_border_class
{
	border-top: 1px solid #ffffff;
	border-left: 1px solid #ffffff;
	border-right: 1px ridge #95A8D7;
	border-bottom: 0px ridge #95A8D7;
	background-color:#D4DEF4;
	padding-top:-1px;
	padding-left:0px;
	padding-bottom:0px;
	padding-right:0px;
	vertical-align:top;
}