<?xml version="1.0" encoding="UTF-8"?>
<!--指标详情分析趋势图-->
<!-- Only the settings with values not equal to defaults are in this file. If you want to see the
full list of available settings, check the amstock_settings.xml file in the amstock folder. -->
<settings>
  <width>945</width>
  <height>430</height>
  <max_series>0</max_series>
  <margins>0</margins>
  <font>微软雅黑</font>
  <legend_position>top</legend_position>
  <legend_width>175</legend_width>
  <decimals_separator>.</decimals_separator>  
  <thousands_separator>,</thousands_separator>
  <number_format>
  <thousand_separator>,</thousand_separator>
  <digits_after_decimal>
    <data>$isTecKPI</data>
    <percents>$isTecKPI</percents>	
   </digits_after_decimal>
   <decimal_separator>.</decimal_separator>
    <letters>
      <letter number="1"></letter>
    </letters>      
  </number_format>
  <add_time_stamp>true</add_time_stamp>
  <data_sets> 
    <data_set did="0">
       <csv>
         <separator>,</separator>
         <date_format>YYYY-MM-DD</date_format>
         <decimal_separator>.</decimal_separator>
         <columns>
           <column>date</column>
		   #set($countLast=0)
		   #set($unitMark=false)
		   #foreach($graph in $chartData.graphList)
               <column>col$velocityCount</column>
    		   <column>open$velocityCount</column>
    		   #if($linkedpagecharttype =="original")
        		   #if($graph.graphType == 3)
        			   <column>low$velocityCount</column>
        		   #elseif($graph.graphType == 4)
            		   <column>low$velocityCount</column>
            		   <column>high$velocityCount</column>
        		   #end
        		   #if($graph.isDataRangeFix==1)
					#set($isDataRangeFix=$graph.isDataRangeFix)##是否在详情页面锁定数据范围的标识,0不勾选，1是勾选有效
					#set($dataRangeBottom=$graph.dataRangeBottom)##锁定数据范围的下限
					#set($dataRangeTop=$graph.dataRangeTop)##锁定数据范围的上限
				   #end
    		   #end
    		   
			   #set($countLast=$velocityCount)
			   #if($graph.graphType==4)
				#if($graph.graphName.contains('%'))##判断单位
					#set($unitMark=true)
				#end
				#set($graphMainNumber=$velocityCount)
				##set($graphIdEvent=$graph.graphId)
			   #end
			   
		   #end
         </columns>
		 <data>
#foreach($dataMap in $chartData.areaDataMap.entrySet())
$dataMap.key,$dataMap.value
#end
</data>
       </csv>
	    <events>
		#foreach($graph in $chartData.graphList)
			#foreach($eventData in $graph.eventList)
				#if($eventData.isPublic==1)
                <event eid="$eventData.eventID">					
				  <graph_id>$graph.graphId</graph_id>
                  <date>$eventData.eventDate</date>
                  <letter></letter>
        		  <bullet>sign</bullet>
                  <color>f65d00</color>
                  <size>12</size>
                  <description><![CDATA[$eventData.eventDate#SHTML("<br />")#SXML($!eventData.eventName)]]></description>
                </event>
				#end
			#end
		#end
      </events>
    </data_set>     
  </data_sets>

  <charts>
  	<chart cid="0">
  	
      <border_color>#CCCCCC</border_color>
      <border_alpha>100</border_alpha>     
      <grid>
        <x>
		  <enabled>0</enabled>
          <alpha>5</alpha>
        </x>       
        <y_left>
	      <fill_color>FFFF00</fill_color>
          <fill_alpha>5</fill_alpha>
          <enabled>1</enabled>
          <alpha>5</alpha>
		   #if($linkedpagecharttype!="original")
			<approx_count>10</approx_count>
		  #else
			<approx_count>5</approx_count>
		  #end		  
        </y_left>    
      </grid>
	  
	  <values>
        <x>
          <bg_color>EEEEEE</bg_color>
        </x>
        <y_left>
		  #if($linkedpagecharttype != "original")##有关联指标
    		  <unit_position>right</unit_position>
    		  #if($needPercent)
    		  	  <enabled>0</enabled> 
	    		  <min>$!chartData.chartValue.get("min")</min>
	    		  <max>$!chartData.maxNumber</max>
    		  #end
		  #else     ##原始数据状态
			#if($unitMark)
			  <unit>%</unit>
    		  <unit_position>right</unit_position>
			#end
			#if( $isDataRangeFix && $isDataRangeFix == 1 && $dataRangeBottom && $dataRangeTop)##给定范围
			 <min>$!dataRangeBottom</min>
    		 <max>$!dataRangeTop</max>
			#else
			 <min>$chartData.chartValue.get("min")</min>
    		 <max>$chartData.maxNumber</max>
			#end
		  #end		  
          <strict_min_max>1</strict_min_max>
          <bg_color>000000</bg_color>
		  <frequency>3</frequency>
          <digits_after_decimal>
            <data>1</data>
            <percents>1</percents>
          </digits_after_decimal>
        </y_left>
      </values>

	  <legend>
        <text_size>11</text_size>
        <graph_on_off>0</graph_on_off>
        <fade_others_to>10</fade_others_to>
		<show_date>0</show_date>
      </legend>
	  
	   <events>
		<show_balloon>1</show_balloon>
		<show_date>false</show_date>
        <color>fac622</color>
      </events>

      <comparing>
        <recalculate_from_start>0</recalculate_from_start>
      </comparing>

  		<graphs>			
			#foreach($graph in $chartData.graphList)				
      			<graph gid="$graph.graphId">
    				<title>$graph.graphName</title>
    				<axis>left</axis>
    				<type>line</type>
    				<color>$graph.graphColor</color>
    				<period_value>average</period_value>
    				<fill_alpha>0</fill_alpha>
    				<width>2</width>
      				<data_sources>
    					<close>col$velocityCount</close>
    					<open>open$velocityCount</open>
						#if($linkedpagecharttype == "original")
    						#if($graph.graphType == 3)
                            <low>low$velocityCount</low>
    						#elseif($graph.graphType == 4)
    						<low>low$velocityCount</low>
                            <high>high$velocityCount</high>	
    						#end
						#end 
    				</data_sources>          
    				<compare_source>close</compare_source>
					#if($graph.graphType == 3 && $linkedpagecharttype == "original")
        				<legend>
                           <date>: {open} &nbsp;&nbsp;同比：{low}%</date>
        				   <period>：{open}</period>
                       </legend>
				    #elseif($graph.graphType == 4 && $linkedpagecharttype == "original")
						<legend>
                           <date>: {open}  &nbsp;&nbsp;前期值 $!graph.unitStr：{low} &nbsp;&nbsp;环比：{high}%</date>
        				   <period>：{open}</period>
                       </legend>
				   #else
    					<legend>
                           <date>: {open}</date>
        				   <period>：{open}</period>
                       </legend>
				   #end
				   #if($graph.ishidden==1)
					<hidden>1</hidden>
				   #end
				   
      			</graph>    			
			#end			
		</graphs>
  	</chart>
  </charts>
  
  <date_formats>
    #if($period ==1004)
        <events>YYYY年MM月</events>
      <legend>
         <days>YYYY年MM月</days>
         <weeks>YYYY年MM月</weeks>
      </legend>
     #else
      <events>YYYY年MM月DD日</events>
      <legend>
         <days>YYYY年MM月DD日</days>
         <weeks>YYYY年MM月DD日</weeks>
      </legend>
     #end
   <x_axis>
     #if($period ==1004)
        <days>YYYY年MM月</days>
        <months>YYYY年MM月</months>     
       <years>YYYY年MM月</years>
     #else
      <days>YYYY年MM月DD日</days>
        <months>YYYY年MM月DD日</months>     
       <years>YYYY年MM月DD日</years>
      <weeks></weeks>
     #end
    </x_axis>
  </date_formats>
  
  
  <data_set_selector>
	<enabled>0</enabled>
    <width>130</width>
    <max_comparing_count>10</max_comparing_count>
 	<main_drop_down_title>Select:</main_drop_down_title> 		
 	<compare_list_box_title>Compare to:</compare_list_box_title>
  </data_set_selector>
  
  <period_selector>
	<enabled>1</enabled>
    <button>
      <bg_color_hover>619cc6</bg_color_hover>
      <bg_color_selected>619cc6</bg_color_selected>
      <text_color_hover>ffffff</text_color_hover>
      <text_color_selected>ffffff</text_color_selected>
    </button>
	<date_format>YYYY年MM月DD日</date_format>
  
	<periods>		
			#if($period ==1002)
			<period pid="1" type="DD" count="7">1周</period>
			<period pid="2" type="DD" count="30" selected="true">1月</period>
			<period pid="3" type="DD" count="84">12周</period>
			<period pid="5" type="MM" count="12">1年</period>
		#elseif($period ==1003)
			<period pid="3" type="DD" count="84" selected="true">12周</period>
			<period pid="5" type="MM" count="12">1年</period>
   	   	#elseif($period ==1004)
			<period pid="5" type="MM" count="12" selected="true">1年</period>
		#end
    	<period pid="8" type="MAX" >最大范围</period>
	</periods>
		
	<periods_title></periods_title>
	<custom_period_title>日期范围:</custom_period_title> 
  </period_selector>

  <header>
    <enabled>false</enabled>
    <text><![CDATA[<b>{title}</b> ({short}) {description}]]></text>
    <text_size>12</text_size>
  </header>

  <plot_area>
    <border_color>cccccc</border_color>
  </plot_area>

  <scroller>
	<values>
      <text_color>999999</text_color>
    </values>
    <enabled>true</enabled>
    <height>50</height>    
    <graph_data_source>open$graphMainNumber</graph_data_source>
    <bg_color>f5f5f5,ffffff</bg_color>
    <resize_button_style>dragger</resize_button_style>
  </scroller>
  
   <error_messages>
    <enabled>1</enabled>
	<color>FE7200</color>
        <x></x>                                                 
   </error_messages>

  <strings>
    <no_data>本指标在该周期下无数据，请选择其他周期（日周月）。</no_data>  
    <export_as_image>数据正在准备中，请稍后再试。</export_as_image>             
    <error_in_data_file>数据正在准备中，请稍后再试。</error_in_data_file> 
    <collecting_data>本指标在该周期下无数据，请选择其他周期（日周月）。</collecting_data> 
    <wrong_zoom_value>本指标在该周期下无数据，请选择其他周期（日周月）。</wrong_zoom_value> 
</strings>
</settings>