<settings>
    <thousands_separator>,</thousands_separator>
    <decimals_separator>.</decimals_separator>
	<background>
    	<color>EFF0F2</color>
    	<alpha>100</alpha>
    	<border_color>EFF0F2</border_color>
    	<border_alpha>100</border_alpha>
	</background>
  <font>微软雅黑</font>   
  <hide_bullets_count>0</hide_bullets_count>
  <start_on_axis>0</start_on_axis>
  <vertical_lines>
    <width>30</width>
    <mask>0</mask>
  </vertical_lines>
  <decimals_separator><![CDATA[<decimals_separator>.</decimals_separator>
<decimals_separator>.</decimals_separator>]]></decimals_separator>
  <background>
    <color>EFF0F2</color>
    <alpha>100</alpha>
    <border_color>EFF0F2</border_color>
    <border_alpha>100</border_alpha>
  </background>
  <plot_area>
		<margins>
			<left>70</left>
			<right>50</right>
			<top>15</top>
			<bottom>40</bottom>
		</margins>
  </plot_area>
  <grid>
    <x>
      <alpha>0</alpha>
    </x>
    <y_left>
      <color>FFFFFF</color>
      <alpha>100</alpha>
      <dash_length>1</dash_length>
      <fill_color>000000</fill_color>
      <approx_count>4</approx_count>
    </y_left>
    <y_right>
      <alpha>0</alpha>
      <dash_length>1</dash_length>
      <approx_count>4</approx_count>
    </y_right>
  </grid>
  <axes>
    <x>
      <width>1</width>
      <color>999999</color>
    </x>
    <y_left>
      <width>1</width>
      <color>89A958</color>
      <alpha>96</alpha>
    </y_left>
    <y_right>
      <width>1</width>
      <color>D43E28</color>
    </y_right>
  </axes>
  <values>
    <y_left>
      <color>89A958</color>
      <text_size>12</text_size>
    </y_left>
    <y_right>
      <color>D43E28</color>
    </y_right>
  </values>
  <indicator>
    <color>000000</color>
    <x_balloon_text_color>EFF0F2</x_balloon_text_color>
    <line_alpha>0</line_alpha>
    <selection_color>0D8ECF</selection_color>
    <selection_alpha>0</selection_alpha>
  </indicator>
  <balloon>
    <on_off>0</on_off>
    <alpha>89</alpha>
    <max_width>221</max_width>
    <corner_radius>1</corner_radius>
    <border_width>3</border_width>
    <border_alpha>4</border_alpha>
  </balloon>
  <scroller>
    <bg_alpha>0</bg_alpha>
  </scroller>
  <legend>
    <enabled>0</enabled>
  </legend>
  <zoom_out_button>
    <text_color_hover>FF0F00</text_color_hover>
  </zoom_out_button>
  <graphs>
    <graph gid="$prodCode">
      <title>$prodName</title>
      <axis>right</axis>
      <color>89A958</color>
      <color_hover>00FF00</color_hover>
      <line_alpha>1</line_alpha>
      <vertical_lines>1</vertical_lines>
      <balloon_color>666666</balloon_color>
      <balloon_text_color>000000</balloon_text_color>
      <balloon_text>{title}:{value}</balloon_text>
    </graph>
    <graph gid="$dapanCode">
      <title>$dapanName</title>
      <color>D43E28</color>
      <color_hover>FF0F00</color_hover>
      <line_width>2</line_width>
      <balloon_color>666666</balloon_color>
      <balloon_text_color>000000</balloon_text_color>
      <balloon_text>{title}:{value}</balloon_text>
      <bullet>round_outlined</bullet>
      <bullet_size>15</bullet_size>
    </graph>
  </graphs>
  <labels>
    <label lid="0">
      <y>25</y>
      <text_size>13</text_size>
      <align>center</align>
    </label>
  </labels>
  <strings>
      <no_data>数据正在准备中，请稍后再试。</no_data>
      <export_as_image>数据正在准备中，请稍后再试。</export_as_image>
      <error_in_data_file>数据正在准备中，请稍后再试。</error_in_data_file>
      <collecting_data>数据正在准备中，请稍后再试。</collecting_data>
      <wrong_zoom_value>数据正在准备中，请稍后再试。</wrong_zoom_value>
  </strings> 
  ##右键菜单
  <context_menu>            
	 ##<menu function_name="exportAsImg()" title="导出为图片"></menu>
	  <menu function_name="columnExcel('$featureType')" title="导出Excel数据"></menu>
	  <menu function_name="showData('$featureType')" title="查看详细数据"></menu>

     <default_items>
       <zoom>false</zoom>
       <print>true</print>
     </default_items>
  </context_menu>
</settings>